if TARGET_GEWI192

config SYS_BOARD
	default "gewi192"

config SYS_VENDOR
	default "griffith-elder"

config SYS_CONFIG_NAME
	default "gewi192"

config IMX_CONFIG
	default "board/griffith-elder/gewi192/imximage.cfg"

endif
